<?xml version="1.0"?>
<launch>
    <arg name="name" default="tello" />
    <group ns="$(arg name)">
        <node pkg="tello_driver" name="tello" type="ros_tello.py" output="screen"/>
    	<node name="republish" type="republish" pkg="image_transport" output="screen" args="raw in:=image_raw compressed out:=image_raw" />
        <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find vins)/../config/vins_rviz_config.rviz" />
    </group>
</launch>
